<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="getGradesForms.Properties.Settings.MyDatabase_2ConnectionString"
            connectionString="Data Source=|DataDirectory|\MyDatabase#2.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="getGradesForms.Properties.Settings.TypedDataConnectionString"
            connectionString="Data Source=|DataDirectory|\TypedData.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>